.todo {
    font-family: 'Source Code Pro',sans;
    font-style: normal;
    border: solid;
    border-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-width: 1px;
    color: #a42424;
}

.done {
    font-family: 'Source Code Pro',sans;
    font-style: normal;
    border: solid;
    border-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-width: 1px;
    color: #8ae234;
}

#postamble {
    float: right;
    margin-top: 50px;
    font-size: 10px;
    text-decoration-style: wavy;
    font-style: italic;
    color: darkgray;
    margin-right: 100px;
    margin-bottom: 20px;
    width: auto;
}

#preamble {
    float: right;
}
#content {
    float: left;
}
a
{
    text-decoration:none;
    /* color: #8AE234; */
    color: #ae4dc2  ;
}
.menu>a {
    color: #469990;
}
p
{
    margin:25px 50px;
    text-align:justify;
/*    color:#adadad; */
    max-width:90%;
}
li
{
/*    text-align:justify; */
    margin: 0 0 25px 0;
/*    color:#adadad; */
    max-width:80%;
}
.code-snip
{
    color:whitesmoke;
    outline-color:#adadad;
    outline-style:dashed;
    outline-width:thin;
    border-width:10px;
    border-color:#464646;
    border-style:solid;
    margin:50px;
    max-width:65%
}

h1
{
    text-indent:50px;
    color:#469990;
    border-left: 50px #469990 solid;
    font-family: 'Source Serif Pro', serif;
    font-weight: lighter;
}
h2
{
    text-indent:25px;
    font-style:italic;
    color:#469990;
    font-family: 'Source Serif Pro';
    font-weight: lighter;
}
h3
{
    text-indent:50px;
    font-style:italic;
    font-family: 'Source Sans Pro';
    font-variant: small-caps;
    font-weight: lighter;
    color:#469990;
}
h4
{
    font-weight:bold;
    text-indent:50px;
    letter-spacing:2px;
    color:#adadad;
    margin:4px;
}

body
{
    background:#fcfcfc;
    color: #656565;
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    max-width: 800px;
    font-size: 14pt;
    margin: auto;
}

.menu
{
    font-variant: small-caps;
    font-size:18pt;
}
ol
{
    margin:50px;
}
ul
{
    margin:0 50px;
    list-style-type:square;
    overflow:hidden;
}
div.content {
    float: left;
}
div.menu {
    width: 100%;
}
div {
    width: 100%;
}
ul.menu {
    float: right;
    list-style-type: none;
    border-bottom: 1px #469990 solid;
}
li.menu
{
    float:left;
    margin:20px;
}
h1.warning
{
    color:#daad30;
    padding:10px;
    outline-width:thick;
    outline-color:#daad30;
    outline-style:dashed;
    text-align:center;
}
li
{
    margin: 0 0 10px 0;
}

li.contents
{
    float:left;
    width:100px;
}
.contents
{
    float: left;
    font-size:15px;
    margin-top:10px
}
div.paper-links
{
    text-align: right;
    float: right;
}

li.paper
{
    margin: 0 0 30px 0;
}
img {
    max-width:100%;
    height:auto;
}

div.footdef {
    margin-left: 50px;
}

p.footpara {
    margin-top: 0px;
    margin-left: 0px;
}

dl { margin: 0 50px; }

dt { font-family: "Source Sans Pro";
     /*font-variant: small-caps;*/

     padding-right: 1em;
     float: left;
     text-align: right;
     clear: left;
     width: 150px;
     color:#469990
}
dt:after {
    content: " : "
}
dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
}
code {
    font-family: "Source Code Pro"
}
.MathJax_Display {
    font-size: 0.9em;
}
pre {
    border: 1px solid #ccc;
    box-shadow: 6px 6px 6px #bbb;
    padding: 8pt;
    font-family: "Source Code Pro",monospace;
    overflow: auto;
    margin: 1.2em;
    background-color: #464646;
    color: #ccc;    font-size: 12pt;
}
